<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LibraryProject1</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hcl.library.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Library</display-name>
    <servlet-name>Library</servlet-name>
    <servlet-class>com.hcl.library.Library</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Library</servlet-name>
    <url-pattern>/Library</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibraryDAO</display-name>
    <servlet-name>LibraryDAO</servlet-name>
    <servlet-class>com.hcl.library.LibraryDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibraryDAO</servlet-name>
    <url-pattern>/LibraryDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.hcl.library.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.hcl.library.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.hcl.library.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccdetailsServlet</display-name>
    <servlet-name>AccdetailsServlet</servlet-name>
    <servlet-class>com.hcl.library.AccdetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccdetailsServlet</servlet-name>
    <url-pattern>/AccdetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.hcl.library.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAccount</display-name>
    <servlet-name>UserAccount</servlet-name>
    <servlet-class>com.hcl.library.UserAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccount</servlet-name>
    <url-pattern>/UserAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueServlet</display-name>
    <servlet-name>IssueServlet</servlet-name>
    <servlet-class>com.hcl.library.IssueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueServlet</servlet-name>
    <url-pattern>/IssueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnServlet</display-name>
    <servlet-name>ReturnServlet</servlet-name>
    <servlet-class>com.hcl.library.ReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnServlet</servlet-name>
    <url-pattern>/ReturnServlet</url-pattern>
  </servlet-mapping>
</web-app>